@{
    ViewData["Title"] = "Home Page";
}
<div class = "Home">

    <div class = "Home__left">
        <div class = "Introduction">
            <p>Nós melhoramos<br/> as <strong>experiências</strong><br/> universitárias<img src = "~/images/cap.svg"/></p>
        </div>
        <p>A rede social feita para o ambiente universitário</p>
        <a asp-area="Identity" asp-page="/Account/Register" style = "widt: 150px; background: #517ACA;border-radius: 10px;color: white; text-decoration: none;padding: 10px;">Começe Já</a>
    </div>

    <div class = "Home__right">
        <img src = "~/images/studentsTalking.svg", style ="width: 600px"/>
    </div>

</div>

<footer class="Home__footer">
    <div class = "imagem">
        <img src = "~/images/footer-logo.svg"/>
    </div>
    <a href = "/sobrenos">Sobre Nós</a>
</footer>