﻿.Post{ 
    box-sizing: border-box;
    background: rgba(62, 128, 255, 0.06);
    border: 0.5px solid rgba(62, 128, 255, 0.41);
    margin: 20px;
    width: 100%;
    height: fit-content;
    padding: 20px; 
}

.Post__photo{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 30px auto; 
    background-color: #fff; 
}

.Post__photo img {
    width: 100%;
    max-width: 200px;
    height: auto;
}