@using Microsoft.AspNetCore.Identity
@using Projeto.Data; 

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext _db; 

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{    
    @if (User.IsInRole("User"))
        {
            @*Colocar a fotografia do estudante*@
            var userId = @UserManager.GetUserId(User); 
            var fotografia = _db.Estudantes
                                .Where(a => a.UserId == userId)
                                .FirstOrDefault()
                                .Fotografia; 

            <li class="nav-item">
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                @if (fotografia != "user.png") {
                    <img class = "userPhotoNav" src="~/Photos/User/@fotografia"/>
                }
                else
                {
                    <img class = "userPhotoNav" src = "~/images/user.png"/>   
                }
                </a>
            </li>
            <div id = "randomMatch" class = "itemsNavBar nav-item" onclick = "location.href = '/Chat/Create'">
                <div class = "image">
                    <img src = "~/images/randomMatch.svg">
                </div>
                <div class = "text">
                    Random Match
                </div>
            </div>
        }
        else
        {
            var userId = @UserManager.GetUserId(User); 
            var Nome = _db.Universidades
                                .Where(a => a.UserId == userId)
                                .FirstOrDefault()
                                .Nome; 
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@Nome</a>
            </li>

            <div id = "novoPost" class = "itemsNavBar nav-item" onclick = "location.href ='/Post/Index'">
                <div class = "text">
                   Gerir Post
                </div>
            </div>
        }
        <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark" style ="background: #517ACA; border-radius: 10px; width: 80px; padding: 10px; text-align: center;">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register"
            style ="background: #517ACA; border-radius: 10px; width: 80px; padding: 10px; text-align: center;"
        >SignUp</a>
    </li>
}
</ul>